<div id="wrapper">

  <div class="maschine-wrapper">
    <div class="label">
      Maschine Values
    </div>
    <div *ngFor="let item of wbdMaschineSubmodel.submodelElements" class="input-mask-item">
      <span class="input-mask-label">{{ item.idShort }}</span>
      <span contenteditable="true" type="text" class="input-mask"> {{item.value}} </span>
    </div>
  </div>
    

  <div class="maschine-user-wrapper">
    <div class="label">
      Maschine User Values
    </div>
    <div *ngFor="let item of wbdMaschineUserSubmodel.submodelElements" class="input-mask-item">
      <span class="input-mask-label">{{ item.idShort }}</span>
      <span contenteditable="true" type="text" class="input-mask"> {{item.value}} </span>
    </div>
  </div>

  <div class="ai-wrapper">
    <div class="label">
      WBD Service Values
    </div>
    <div *ngFor="let item of wbdAiSubmodel.submodelElements" class="input-mask-item">
      <span class="input-mask-label">{{ item.idShort }}</span>
      <span contenteditable="true" type="text" class="input-mask"> {{item.value}} </span>
    </div>
  </div>

  <div class="routerContent">
    <router-outlet></router-outlet>
  </div>
</div>