

.header {
  box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.5);
  background: #fff;
  position: relative;
  z-index: 2;
  height: 130px;
  width: 100%;
}

.logo {
  position:absolute;
  top: 20px;
  left: 15%;
  z-index: 5;
  height: 33px;
  width: 200px;
}

.input-mask-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.input-mask-label {
  margin-right: 10px;
  width: 150px;
  text-align: left;
  color:#777;
}

.label {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #777;
  margin-bottom: 40px;
}

.input-mask {
  margin-left: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 100px;
}

.maschine-wrapper
{
  margin-top: 4%;
  left: 2%;
  position: absolute;
  padding-bottom: 100px;
}

.maschine-user-wrapper
{
  margin-top: 4%;
  left: 34%;
  position: absolute;
  padding-bottom: 100px;
}

.ai-wrapper
{
  margin-top: 4%;
  left: 66%;
  position: absolute;
  padding-bottom: 100px;
}

.green-glow {
  box-shadow: 0 0 5px #00ff00;
}

.button {
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 210px;
  position: absolute;
  height: 60px;
  color: #777;
  border-radius: 0px;
  top: 70px;
  z-index: 3;
  font-size: 16px;
}

.load-button {
  left: calc(15%);
}
.save-button {
  left: calc(15% + 210px);
}
.calc-button {
  left: calc(15% + 420px);
}
.back-button {
  left: calc(15%);
}

.load-button:hover,
.back-button:hover,
.calc-button:hover,
.save-button:hover,
.machine-dropdown-button:hover,
.service-dropdown-button:hover {
  background-color: rgb(97, 180, 227);
  color:white;
}

.load-button:active,
.back-button:active,
.calc-button:active,
.save-button:active {
  background-color: rgb(97, 180, 227);
  color: white;
}

.comparison-table {
  width: 60%;
  left: 15%;
  top: 150px;
  position: absolute;
  border-collapse: collapse;
}

.comparison-table th,
.comparison-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.comparison-table th {
  background-color: rgb(57, 180, 227);
  text-align: left;
  color: white;
}

.comparison-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}





#choice-wrapper {
  width: 100%;
  left: 0%;
  top: 150px;
  height: 100%;
  position: absolute;
  background-color: white;
}

.machine-dropdown {
  width: 25%;
  left: 15%;
  position: absolute;
  display: inline-block;
}

.machine-dropdown-button {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  top: 0px;
  width: 350px;
}

.machine-dropdown-menu {
  display: none;
  position: absolute;
  top: 70px;
  width: 340px;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #777;
  font-size: 18px;
  line-height: 30px;
  padding-left: 10px;
}

.machine-dropdown-menu.show {
  display: block;
}

.service-dropdown {
  width: 25%;
  left: 45%;
  position: absolute;
  display: inline-block;
}

.service-dropdown-button {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  top: 0px;
  width: 350px;
}

.service-dropdown-menu {
  display: none;
  position: absolute;
  top: 70px;
  width: 340px;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #777;
  font-size: 18px;
  line-height: 30px;
  padding-left: 10px;
}

.service-dropdown-menu.show {
  display: block;
}

li {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
  background-color: rgb(97, 180, 227);
  color:white;
}